body{
    background-color: rgb(191, 220, 245);
}

h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Mina', sans-serif;
    
}
p{
    font-size: 20px;
    text-align: justify;
    margin: 2.5px;
    font-family: 'Mina', sans-serif;
}
img{
    max-width: 400px;
    max-height: 450px;
    min-width: 350px;
    min-height: 300px;
   float: right;
    
}
nav {
    border-bottom: 2px dotted white;
    padding: 10px;
    box-shadow: 5px 10px 30px 10px #abdde4 ;
}
.sla{
    width: auto;
}